/* ====== HEADER ====== */
header {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: var(--spacing-sm);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

header nav input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

header nav button {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
  gap: var(--spacing-sm);
  justify-content: center;
  margin-top: var(--spacing-sm);
  
}

header ul li a {
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: bold;
}

header ul li a:hover {
  text-decoration: underline;
  background-color: rgb(120, 185, 231);
  padding: 0.3em;
  border-radius: 12px;
  transition: 0.3s ease;
  color: black;
}
